/* Alegreya SC как единое семейство с вариантами */

@font-face {
    font-family: 'Alegreya SC';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/alegreyasc-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/alegreyasc-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/alegreyasc-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/alegreyasc-bolditalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

/* Дополнительные начертания (опционально, если нужны) */
@font-face {
    font-family: 'Alegreya SC';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/alegreyasc-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/alegreyasc-mediumitalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/alegreyasc-extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/alegreyasc-extrabolditalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/alegreyasc-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya SC';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/alegreyasc-blackitalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}
