/* Mookmania как единое семейство с вариантами */

@font-face {
    font-family: 'Mookmania';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/mookmania.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mookmania';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/mookmania_italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Mookmania';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/mookmania_bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mookmania';
    src: url('https://raw.githack.com/SunnyS0lve1g/Homebrewery-Assets/main/mookmania_bold_italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
